body {
    background-color: #1b1a1a;
    font-family: 'Raleway Thin';
    font-size: 16px;
    color: #f1c62d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
img{
    max-width: 125px;
    height: auto;
    display: block;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 0 1em;
    margin-top: 30px;
}

.default-label{
    margin: 0 1%;
}

.default-field{
    margin: 0 10em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    caret-color: #f1c62d;
}

.email-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.name-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.password-field {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.date-field {
    margin: 10 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 9em;
    caret-color: #f1c62d;
}

.frame {
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 40px 10px;
    background-color: #0202004a;
    color: #efbe0b;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #d8c709;
}

.button {
    width: 60%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    color: #2f2d28;
    background: #efbe0b;
    cursor: pointer
}

.button:hover {
    background-color: #333;
    color: #f1c62d;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
    color: #f1c62d;
    padding: 1em;
}

.nav-field{
    background-color: #f1c62d;
    padding: 1em 2em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
}

a:link {
    color: #1b1a1a;
    text-decoration: none;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

.user-icon{
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #f1c62d;
    border: 1px solid #f1c62d;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    padding: 0.20em;
}

.text-title{
    font-size: 2em;
    margin: 10;
    padding: 10;
    align-items: center;
    text-align: center;
}



header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    font-family: 'Raleway Thin';
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
    align-items: center;
}

.logo-left-panel img{
    height: 100px;
}

.top-right-panel{
    background-color:black;
}
.top-right-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-right-panel a:hover {
    color: white;
}


.top-center-panel{
    background-color: black;
    
}

.top-center-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-center-panel a:hover {
    color: white;
}