body {
    background-color: #1b1a1a;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #f1c62d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: #f1c62d;
    background-color: #1b1a1a;
    padding: 1em 0;
    text-align: center;
}

.top-right-panel{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    float : right;
    padding: 1em;
}

img{
    max-width: 180px;
    height: auto;
    display: block;
}

.logo-left-panel{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    padding: 1em;
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1em;
}

.default-label{
    margin: 0 1em;
}

.default-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
}

.email-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
}

.name-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
}

.password-field {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.date-field {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
}

.frame {
    border: 1px solid #f1c62d;
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
}

.button {
    background-color: #f1c62d;
    border: none;
    color: #1b1a1a;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 1em 1em;
    cursor: pointer;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
    color : #f1c62d;
    padding : 1em;
}