body {
    background-color: #1b1a1a;
    font-family: 'Raleway Thin';
    font-size: 16px;
    color: #f1c62d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    color: #f1c62d;
    background-color: #1b1a1a;
    padding: 1em 0;
    text-align: center;
}

.top-right-panel{
    position: absolute;
    top: 0;
    right: 0;
    float : right;
    padding: 0.50em 0.50em;
    background-color: #f1c62d;
    border: 1px solid #f1c62d;
    border-radius: 5px;
}

img{
    max-width: 125px;
    height: auto;
    display: block;
}

.logo-left-panel img{
    height: 150px;
    width: auto
}

.main-title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: flex;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1em;
}

.button {
    background-color: #f1c62d;
    border: none;
    color: #1b1a1a;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 1em 1em;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    color: #f1c62d;
    font-weight: bold;
    -webkit-transition: all 3s;
    transition: all 3s;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
    color: #f1c62d;
    padding: 1em;
}

.nav-field{
    background-color: #f1c62d;
    padding: 1em 2em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

@font-face {
    font-family: 'Andes ExtraLight';
    src: url(../src/fonts/Andes-ExtraLight.ttf) format('truetype');
}

.text-title{
    font-size: 2em;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1em;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 1em;
}

.card{
    justify-content: center;
    align-items: center;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
}

.card-img{
    width: 180px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-card {
    background-color: #f1c62d;
    border: none;
    color: #1b1a1a;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 1em 1em;
    cursor: pointer;
}

.button-card:hover {
    background-color: #333;
    color: #f1c62d;
}