body {
    background-color: #1b1a1a;
    font-family: 'Raleway Thin';
    font-size: 16px;
    color: #f1c62d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
}
.img_icon {
    max-width: 125px;
    height: auto;
    display: flex;
    margin-left: -12px;
    margin-bottom: 4px;
}
.form{
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.default-label{
    margin: 0 1%;
}

.default-field{
    margin: 0 10em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    caret-color: #f1c62d;
}

.email-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.cep-field{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 21em;
    caret-color: #f1c62d;
}

.tittle-field {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.address-field {
    margin: 10 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.complement-field {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    caret-color: #f1c62d;
}

.frame {
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 40px 10px;
    background-color: #0202004a;
    color: #efbe0b;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #d8c709;
}

.button {
    width: 60%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    color: #2f2d28;
    background: #efbe0b;
    cursor: pointer
}

.button:hover {
    background-color: #333;
    color: #f1c62d;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

.user-icon{
    position: static;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #f1c62d;
    border: 1px solid #f1c62d;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    margin: 0 auto;
    padding: 0.20em;
}

.text-title{
    font-size: 2em;
    margin: 10;
    padding: 10;
    align-items: center;
    text-align: center;
}


/* DIVS HEADER */

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    font-family: 'Raleway Thin';
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
    align-items: center;
}

.logo-left-panel img{
    height: 100px;
}

.top-right-panel{
    background-color:black;
}
.top-right-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-right-panel a:hover {
    color: white;
}


.top-center-panel{
    background-color: black;
    
}

.top-center-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-center-panel a:hover {
    color: white;
}


/* Divs da Listagem de Endereço*/
.frame_list {
    display: grid;
    border: none;
    border-radius: 30px;
    padding: 40px 30px;
    background-color: #0202004a;
    color: #efbe0b;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #d8c709;
    justify-self: right;
    align-items: center;
    text-align: center;
}
.section_list_address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
}

.default-label-list{
    margin: 0 1%;
}

.default-field-list{
    margin: 0 10em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    caret-color: #f1c62d;
}

.email-field-list{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.cep-field-list{
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 21em;
    caret-color: #f1c62d;
}

.tittle-field-list {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.address-field-list {
    margin: 10 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    width: 20em;
    caret-color: #f1c62d;
}

.complement-field-list {
    margin: 0 1em;
    border: 1px solid #f1c62d;
    border-radius: 5px;
    caret-color: #f1c62d;
}

/* CSS FOOTER */
footer {
    display: flex;
    background-color: black;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;

}

footer h3 {
    color: #f1c62d;
}

footer li {
    list-style: none;
    color: #f1c62d;
}

footer a {
    text-decoration: none;
    color: #f1c62d;
}
footer a:hover{
    color: #ffffff;
}

.logo-footer img {
    width: 200px;
    height: 200px;
}
.icons img {
    width: 25px;
    height: 25px;
}

.footer-social img {
    justify-content: left;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* DROPDOWN BOTOM */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: #f1c62d;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    position: absolute;
    background-color: black;
    min-width: 105px;
    z-index: 1;
    display: none;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #333;
    color: #f1c62d;
    border-radius: 10px;
}