body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    align-items: center;
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
}

.logo-left-panel img{
    height: 150px;
    width: auto
}

.top-right-panel{
    background-color: #000000;
}
.top-right-panel a {
    padding-right: 15px;
}

.top-center-panel{
    background-color: #000000;
}
.top-center-panel a {
    padding-right: 15px;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
    color : #f1c62d;
    padding : 1em;
}

footer{
    color:#f1c62d;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
}