body {
    background-color: #1b1a1a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: #f1c62d;
    background-color: #1b1a1a;
    padding: 1em 0;
    text-align: center;
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
}

img{
    max-width: 180px;
    height: auto;
    display: block;
}

.logo-left-panel{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    padding: 1em;
}

.top-right.panel{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    right: 0;
    float : right;
    padding: 1em;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
    color : #f1c62d;
    padding : 1em;
}