@font-face {
    font-family: 'Raleway Thin';
    src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

body {
    background-color: #1b1a1a;
    font-family: 'Raleway Thin';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
}


main {
    display: grid;
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: px solid #f1c62d;
    align-items: center;
    justify-content: flex-start;
}

.logo-left-panel img{
    height: 100px;
}

.top-right-panel{
    background-color:black;
}
.top-right-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-right-panel a:hover {
    color: white;
}


.top-center-panel{
    background-color: black;

}

.top-center-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-center-panel a:hover {
    color: white;
}

.svg-diminuido {
    width: 400px;
    height: 800px;
    margin-left: 650px;
    margin-top: -500px;
    justify-content: flex-end;
}

.animacao {
    background-color: yellow;
    height: 300px;
    padding: 100px;
    border-radius: 10px;
    max-width: 980px;
    justify-self: center;
}

.text-animacao > h1 {
    margin-right: 500px;
    color: black;
}

.text-animacao > h3 {
    color: black;
}

.text-animacao > h4 {
    color: black;
}

footer {
    display: flex;
    background-color: black;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;

}

footer h3 {
    color: #f1c62d;
}

footer li {
    list-style: none;
    color: #f1c62d;
}

footer a {
    text-decoration: none;
    color: #f1c62d;
}
footer a:hover{
    color: #ffffff;
}

.logo-footer img {
    width: 200px;
    height: 200px;
}


.button {
    width: 35%;
    padding: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    color: yellow;
    background-color: black;
    cursor: pointer
}

.button:hover {
    background-color: #2f2f2f;
    color: #f1c62d;
}

.icons img {
    width: 25px;
    height: 25px;
}

.footer-social img {
    justify-content: left;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}