@font-face {
    font-family: 'Raleway Thin';
    src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}
body {
    margin: 0;
    font-family: 'Raleway Thin';
    background-color: #1b1a1a;
    padding: 0;
}

.main-login{
    width: 100vw;
    height: 80vh;
    background: #1b1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {  		
    color: #f1c62d;
    justify-content: center;
    align-items: center;

}

.right-login{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#0202004a;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #d8c709;
    margin-right: 150px;
}

.card-login > h1 {
    color: #efbe0b;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    color: #030300;
    font-size: 12pt;
    box-shadow:#d8c709;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color:#efbe0b;
    margin: bottom 10px;
}

.textfield > input::placeholder{
    color: #2d2d2c;
}

.btn-login{
    width: 60%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    color: #2f2d28;
    background: #efbe0b;
    cursor: pointer
}

/* CSS DO HEADER */
header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    font-family: 'Raleway Thin';
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #f1c62d;
    align-items: center;
}

.logo-left-panel img{
    height: 100px;
}

.top-right-panel{
    background-color:black;
}
.top-right-panel a {
    padding: 1em 2em;
    color: #f0c62e;
    text-decoration: none;
}

.top-right-panel a:hover {
    color: white;
}


.top-center-panel{
    background-color: black;
    
}

.top-center-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-center-panel a:hover {
    color: white;
}
/* CSS FOOTER */
footer {
    display: flex;
    background-color: black;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;

}

footer h3 {
    color: #f1c62d;
}

footer li {
    list-style: none;
    color: #f1c62d;
}

footer a {
    text-decoration: none;
    color: #f1c62d;
}
footer a:hover{
    color: #ffffff;
}

.logo-footer img {
    width: 200px;
    height: 200px;
}
.icons img {
    width: 25px;
    height: 25px;
}

.footer-social img {
    justify-content: left;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}