@font-face {
    font-family: 'Raleway Thin';
    src: url(../src/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}

body {
    background-color: #1b1a1a;
    font-family: 'Raleway Thin';
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
}

main {
    display: grid;
}

title{
    color: #f1c62d;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.container{
    color:#f1c62d;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
    text-align: center;
    border: px solid #f1c62d;
    align-items: center;
    justify-content: flex-start;
}

.logo-left-panel img{
    height: 100px;
}

.top-right-panel{
    background-color:black;
}
.top-right-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-right-panel a:hover {
    color: white;
}


.top-center-panel{
    background-color: black;

}

.top-center-panel a {
    padding: 1em 2em;
    color: #f1c62d;
    text-decoration: none;
}

.top-center-panel a:hover {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: #f1c62d;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
    color: #f1c62d;
}

.user-data {
    background-color: black;
    color: #f1c62d;
    padding: 1em;
    margin: 1em;
    border: 1px solid #f1c62d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[readonly] {
    background-color: black;
    color: #f1c62d;
    border: none;
    text-align: center;
}

.add-button {
    background-color: #f1c62d;
    padding: 1em;
    margin: 1em;
    border: 1px solid #f1c62d;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.add-button::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #fff;
}
