<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
        <script src="../scripts/cadastro.js"></script>
        <link rel="stylesheet" href="..\css\cadastro.css">
    </head>
    <header>
        <div class="logo-left-panel">
            <a href="..\index.html">
                <img src="..\img\logo-remove-bg.png" alt="AutoHub">
            </a>
        </div>
        <h1>AutoHub</h1>
        <div class="top-right-panel">
            <a href="login.html">Login</a>
        </div>
    </header>
    <body>
        <div class="topnav">
            <a href="carros.html" class="nav-field">Carros</a>
            <a href="contato.html" class="nav-field">Contato</a>
            <a href="sobre.html" class="nav-field">Sobre</a>
        </div>
        <div class="form">    
            <form>
                <div class="frame">
                    <label for="name" class="default-label"> 
                        Nome
                    </label>
                    <input type="text" class="name-field" id="name" name="name"/>
                    <br>
                    <br>
                    <label for="email" class="default-label"> 
                        E-mail
                    </label>
                    <input type="text" class="email-field" id="email" name="email"/>
                    <br>
                    <br>
                    <label for="password" class="default-label"> 
                        Senha
                    </label>
                    <input type="password" class="password-field" id="password" name="password"/>
                    <br>
                    <br>
                    <label for="cpf_cnpj" class="default-label"> 
                        CPF/CNPJ
                    </label>
                    <input type="text" class="default-field" id="cpf_cnpj" name="cpf_cnpj"/>
                    <br>
                    <br>
                    <label for="birthday" class="default-label"> 
                        Data de Nascimento 
                    </label>
                    <br>
                    <input type="date" class="date-field" id="birthday" name="birthday"/>
                    <br>
                    <br>
                    <input type="button" class="button" onclick="cadastroUsuario()" value="Cadastrar"/>
                </div>
            </form>
        </div>
    </body>
</html>