<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
        <script src="../scripts/cadastro.js"></script>
        <link rel="stylesheet" href="..\css\cadastro.css">
    </head>
    <body>
    <header>
            <div class="top-center-panel">
                <a href="./carros.html">Carros</a>
                <a href="..\view\contato.html">Contato</a>
            </div>
            <div class="logo-left-panel">
                <a href="../index.html">
                    <img src="..\src\img\logo-remove-bg.png" alt="AutoHub">
                </a>
            </div>
            <div class="top-right-panel">
                <a href="./login.html">Login</a>
                <a href="./cadastro.html">Cadastro</a>
            </div>
    </header>
        <div class="form">    
            <form>
                <div class="user-icon">
                    <img src="..\src\icon\person-icon.png" alt="Usuário">
                </div>
                <div name="text-title">
                    <h2>Cadastre-se</h2>
                </div>
                <div class="frame">
                    <label for="name" class="default-label"> 
                        Nome
                    </label>
                    <input type="text" class="name-field" id="name" name="name"/>
                    <br>
                    <br>
                    <label for="email" class="default-label"> 
                        E-mail
                    </label>
                    <input type="text" class="email-field" id="email" name="email"/>
                    <p id="status_email" style='color: #efbe0b;'></p>
                    <label for="password" class="default-label"> 
                        Senha
                    </label>
                    <input type="password" class="password-field" id="password" name="password"/>
                    <p id="status_password" style='color: #efbe0b;'></p>
                    <label for="cpf_cnpj" class="default-label"> 
                        CPF/CNPJ
                    </label>
                    <input type="text" class="default-field" id="cpf_cnpj" name="cpf_cnpj"/>
                    <p id="status_cpf_cnpj" style='color: #efbe0b;'></p>
                    <label for="birthday" class="default-label"> 
                        Data de Nascimento 
                    </label>
                    <br>
                    <input type="date" class="date-field" id="birthday" name="birthday"/>
                    <p id="status_birthday" style='color: #efbe0b;'></p>
                    <input type="button" class="button" onclick="cadastroUsuario()" value="Cadastrar"/>
                </div>
            </form>
        </div>
    </body>
</html>