<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carros</title>
        <link rel="stylesheet" href="..\css\carros.css">
    </head>
    <header>
        <div class="logo-left-panel">
            <a href="..\index.html">
                <img src="..\src\img\logo-remove-bg.png" alt="AutoHub">
            </a>
        </div>
        <h1>AutoHub</h1>
        <div class="top-right-panel">
            <a href="login.html">Login</a>
        </div>
    </header>
    <body>
        <div class="topnav">
            <a href="carros.html" class="nav-field">Carros</a>
            <a href="contato.html" class="nav-field">Contato</a>
            <a href="sobre.html" class="nav-field">Sobre</a>
        </div>
        <!--div class="text-title">
            <h5>Carros</h5>
        </div-->
        <div class="form">
            <form>
                <div class="cards">
                    <div class="card">
                        <img src="..\src\img\lamborghini-urus.jpeg" class="card-img" alt="Carro1">
                        <h3>Lamborghini Urus</h3>
                        <p>SUV Sport</p>
                        <p>À partir de R$ 5.000.000,00</p>
                        <button class="button-card">Comprar</button>
                    </div>
                    <div class="card">
                        <img src="..\src\img\ferrari-purosangue.jpg" class="card-img" alt="Carro2">
                        <h3>Ferrari Purosangue</h3>
                        <p>SUV Sport</p>
                        <p>À partir de R$10.000.000,00</p>
                        <button class="button-card">Comprar</button>
                    </div>
                    <div class="card">
                        <img src="..\src\img\porsche-911.jpg" class="card-img" alt="Carro3">
                        <h3>Porsche 911</h3>
                        <p>Sport</p>
                        <p>À partir de R$3.000.000,00</p>
                        <button class="button-card">Comprar</button>
                    </div>
                    <div class="card">
                        <img src="..\src\img\bmw-next-100.jpg" class="card-img" alt="Carro4">
                        <h3>BMW Next 100</h3>
                        <p>Technologic</p>
                        <p>À consultar</p>
                        <button class="button-card">Comprar</button>
                    </div>
                    <div class="card">
                        <img src="..\src\img\mercedez-benz-vision-avtr.jpg" class="card-img" alt="Carro5">
                        <h3>Mercedes Benz Vision AVTR</h3>
                        <p>Technologic</p>
                        <p>À consultar</p>
                        <button class="button-card">Comprar</button>
                    </div>
                    <div class="card">
                        <img src="..\src\img\bugatti-chiron.jpg" class="card-img" alt="Carro6">
                        <h3>Bugatti Chiron</h3>
                        <p>Sport</p>
                        <p>À partir de R$20.000.000,00</p>
                        <button class="button-card">Comprar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>