<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\login.css">
    <title>Login</title>
    <script src="../scripts/login.js"></script>
</head>
<body>
    <header>
        <div class="top-center-panel">
            <a href="./carros.html">Carros</a>
            <a href="..\view\contato.html">Contato</a>
        </div>
        <div class="logo-left-panel">
            <a href="../index.html">
                <img src="..\src\img\logo-remove-bg.png" alt="AutoHub">
            </a>
        </div>
        <div class="top-right-panel">
            <a href="login.html">Login</a>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Cadastro</a>
                <div class="dropdown-content">
                    <a href=".\cadastro.html">Usuário</a>
                    <a href="./endereco.html">Endereço</a>
                </div>
    </header>
    <main>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça Login <br> Seja Bem Vindo !</h1>
            </div>
        <div class="right-login"></div>
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" placeholder="E-mail">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" id ="password" name="senha" placeholder="Senha">
                    <p id="status" style='color: #efbe0b;'></p>
                </div>
                <input class="btn-login" type="button" onclick="loginUsuario()" value="Login"/>
            </div>        
        </div>                 
    </div>
    </main>
    <footer>
        <div class="logo-footer">
            <a href="../index.html">
                <img src="..\src\img\logo-remove-bg.png" alt="AutoHub">
            </a>
        </div>
        <div class="footer-services">
            <ul>
                <h3>SERVIÇOS</h3>
                <li><a href="#">OFICINA</a></li>
                <li><a href="#">CONSULTORIA</a></li>
                <li><a href="#">DESPACHANTE</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul>
                <h3>INFORMAÇÕES</h3>
                <li><a href="#">SOBRE NÓS</a></li>
                <li><a href="#">POLÍTICA DE PRIVACIDADE</a></li>
                <li><a href="#">FALE CONOSCO</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <h3>REDES SOCIAIS</h3>
                <div class="icons">
                    <img src="..\src\img\icone-facebook-removebg.png" alt="icone facebook">
                    <li><a href="#">AUTO-HUB</a></li>   
                </div>    
                <div class="icons">
                    <img src="..\src\img\icone-x-removebg.png" alt="icone X">
                    <li><a href="#">@auto-hub</a></li>
                </div>    
                <div class="icons">
                    <img src="..\src\img\icone-instagram-removebg.png" alt="icone instagram">
                    <li><a href="#">@auto-hub</a></li>
                </div>       
            </ul>
        </div>
    </footer>          
</body>
</html>