<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../scripts/login.js"></script>
</head>
<body>
    <div>    
        <form>
            <label for="email"> Email:</label>
            <input type="text" id="email" name="email" placeholder="Email"/>
            <br>
            <label for="password"> Senha:</label>
            <input type="text" id="password" name="password" placeholder="Senha"/>
            <p id="status" style='color: black;'></p>
            <input type="button" onclick="loginUsuario()" value="Login"/>
        </form>
    </div>
    </body>
</html>