<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AutoHub</title>
        <link rel="stylesheet" href="..\css\perfil.css">
    </head>
    <body>
        <header>
            <div class="top-center-panel">
                <a href="..\view\carros.html">Carros</a>
                <a href="..\view\contato.html">Contato</a>
            </div>
            <div class="logo-left-panel">
                <a href="index.html">
                    <img src="..\src\img\logo-remove-bg.png" alt="AutoHub">
                </a>
            </div>
            <div class="top-right-panel">
                <a href="..\view\login.html">Login</a>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Cadastro</a>
                    <div class="dropdown-content">
                        <a href="..\view\cadastro.html">Usuário</a>
                        <a href="..\view\endereco.html">Endereço</a>
                    </div>
                </li>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>Seja bem-vindo ao seu Perfil</h2>
            </div>
            <div class="profile">
                <form>
                    <div class="user-data">
                        <p></p>
                        <label for="nome">
                            Nome:
                        </label>
                        <input type="text" id="nome" name="nome" readonly>
                        <p></p>
                        <label for="email">
                            Email:
                        </label>
                        <input type="text" id="email" name="email" readonly>
                        <p></p>
                        <label for="birth-date">
                            Data de Nascimento:
                        </label>
                        <input type="text" id="birth-date" name="birth-date" readonly>
                        <p></p>
                        <label for="cpf-cnpj">
                            CPF/CNPJ:
                        </label>
                        <input type="text" id="cpf-cnpj" name="cpf-cnpj" readonly>
                        <p></p>
                        <h3>Endereços cadastrados</h3>
                        <div class="address">
                            <input type="text" id="endereco" name="endereco-completo" readonly>
                            <button class="add-button"></button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>